* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes transitionX{
    from {
        opacity: 0;
        transform: rotateX(-20deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0deg);
    }
}



body {
    font-family:  'Hammersmith One', sans-serif;
    /*background: #fde2e2;*/
    /*#f1d1d1
    background:  #faf2f2;
    */
    background-image: linear-gradient(20deg, #ffffff, #fde2e2);
    background-size: cover;
    
    
    
}
/*
.nav-link:hover{
    background-color: #ff487e;
}
*/

header {
    display: flex;
    z-index: 9999999999;
    background-color: #010a43;
    width: 100%;
    min-width: 75%;
    max-width: 100%;
    margin: auto;
    height: 15vh;
    align-items:center;
    /*
    position: fixed;
    top:0px;
    */
  
}

.toggle-button {
    position: absolute;
    top: 3rem;
    right: 2rem;
    display: none;
    flex-direction:column;
    justify-content: space-between;
    width: 40px;
    height: 25px;

}
.toggle-button .bar {
    
    height: 4px;
    width: 100%;
    background-color: #fde2e2;
    border-radius: 10px;
}
.logo-container,
.nav-link {
    display: flex;
}
.logo-container {
    
    flex: 1;
    width: 80%;
    
}
nav {
    flex: 2;
    z-index: 9999999999;
}
.nav-link {
    
    font-size: 27px;
    text-decoration: none;
    list-style: none;
    
    
}

.nav-bar {

   display: flex;
   justify-content: space-evenly;
   list-style: none;
   max-width: 100%;
  
}


.presentation {
    display:flex;
 
    width: 100%;
    margin:auto;
    min-height:80vh;
    align-items:center;
    animation: transitionIn 0.75s;

}
.introduction {
    flex: 3;
   
    
  
}
.img-container {
    flex: 3;
    
}
.intro-text {
    /*font-family:  'Acme', sans-serif;*/
    font-size: 60px;
    color: #010a43;
    position: relative;
    left: 120px;
    animation: transitionX 1s;
    font-weight: 100;
    
}
.img-container>img {
    
    height:70%;
    width: 60%;
    padding: 10px;
    align-items: center;
    /*text-align: center;
    display:flex;
    height: 60vh;
    width:auto;
    position: relative;
    top: 100px;*/
    

    

}
.about-container {

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    margin:auto;
    min-height:80vh;
    align-items:center;
    animation: transitionIn 0.75s;

    
}
.about-content {
    padding: 40px;
    margin-top:40px;
    margin-right: 150px;
    margin-left: 150px;
    font-size: 30px;
    bottom: 20px;
    color: #010a43;
    font-family:  'Harmattan', sans-serif;
    text-align: justify;
    text-justify: inter-word;

}
/*
.image {
    
    display: flex;
    padding: 0px;
    margin-top: 10px;
    margin: 40px;
    height: 70vh;

}
*/
.contact-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    margin:auto;
    min-height:80vh;
    align-items:center;  
    animation: transitionIn 0.75s;
}

.info {
    color: #010a43;
    font-size: 29px;
    margin: 90px;
    text-align: center;
}
.info-img {
  
    display: flex;
    padding: 50px;
    margin: 30px;
    height: 50vh;
    
}
/*
.contact-form {
    width: 90%;
    max-width: 600px;
    padding: 90px;
    margin: 50px;
    /*height: 40px;
    background:#f9fcfb;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #fde2e2;
    color: #010a43;
    font-size: 24px;
}
*/
.contact-links {
    padding-bottom: 40px;
    padding-top: 20px;
    margin: auto;

}
/*
.txtb {
    border: 1px solid #010a43;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 10px;
    
}
.txtb label {
    display:block;
    text-align: left;
    text-transform: uppercase;


}
.txtb input, .txtb textarea {
    width: 100%;
    border: none;
    background: none;
    outline:none;
    font-size: 18px;
    margin-top: 6px;
}
.btn {
    display: inline-block;
    background: #fde2e2;
    padding: 14px 0;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}
*/
.blog-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    margin:auto;
    min-height:80vh;
    align-items:center;  
    animation: transitionIn 0.75s;
}
.blog-info {
    color: #010a43;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center; 
}
.blog-img {
    display: flex;
    padding: 50px;
    margin: 10px;
    height: 50vh;
    
}
.blog-headings {
    
   
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
}



.blog-headings .card{
    width: 320px;
    height: 370px;
    margin: 15px;
    margin-bottom: 50px;
    padding: 40px 30px;
    background: #ffe6eb;
    border-radius: 20px;
    box-shadow: -6px -6px 20px rgba(247,247,247,1) ,
                6px 6px 20px rgba(0,0,0,0.1);
}
/*
.blog-headings:hover{
    box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),

                inset 6px 6px 20px rgba(0,0,0,0.05);

}
*/
.blog-headings .card .contentBx{
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.blog-headings .card .contentBx h2{
    color: #010a43;
    font-weight: 700;
    font-size: 1.6em;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.blog-headings .card .contentBx p{
    color: #010a43;
}

.blog-headings .card .contentBx a 
{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 40px;
    color: #010a43;
    font-size: 16px;
    text-decoration: none;
    box-shadow:  -4px -4px 15px rgba(247,247,247,1)
                4px 4px 15px rgba(0,0,0,0.1);
}

.blog-headings .card .contentBx a:hover{
    box-shadow:  insert -4px -4px 10px rgba(247,247,247,1),
    insert 4px 4px 10px rgba(0,0,0,0.1);
}

.blog-headings .card a:hover span
{
    display: block;
    transform: scale(0.98);
}

.blog-headings .card:hover .imgBx,
.blog-headings .card:hover .contentBx{
    transform:scale(0.95);
}

a {
    color: #010a43;
    text-decoration: none;
    /*border-bottom: 1px solid #010a43;*/
}
.write-ups {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
    margin:auto;
    min-height:80vh;
    align-items:center;  
    animation: transitionIn 0.75s;
    

}
.contents h1 {
    display: flex;
    color: #010a43;
    font-size: 60px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 40px;
    align-items: center; 
    padding: 50px;
    padding-bottom: 10px;
    
}
.contents h3 {
    display: flex;
    color: #010a43;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 10px;
    align-items: center; 
    padding: 50px;
    padding-bottom: 10px;

}
.contents img {
    display: flex;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    width: 85%;
    height: 60vh;
    

}
.contents p {
    padding: 50px;
    margin:50px;
    margin-right: 150px;
    margin-left: 150px;
    font-size: 30px;
    bottom: 20px;
    align-items: center;
    color: #010a43;
    font-family: 'Harmattan', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    
    
}
.heart{
    color: red;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.footer-container {
    display: flex;
    position: relative;
    padding: 15px ;
    left:0;
    bottom: 0;
    width: 100%;
    background-color:#fde2e2;
    color:  #010a43;
    text-align: center;
    justify-content: center;
    opacity: 80%;
    font-size: 24px;
    font-family: 'Harmattan', sans-serif;
    
}

/*
@media screen and(max-width:1024px){
    .nav-links{
       width: 90%;
    
    }
}
*/

@media screen and (max-width: 900px){
    
    
    header {
        flex-direction: column;
        align-items: flex-start;

    }
    .nav-bar{
        display: none;
    }
    .toggle-button{
        display: flex;
    }
    .nav-bar li.nav-link{
        width: 100%;
    }
    

    .introduction{
        align-items: center;
        text-align: center;
        word-wrap: break-word;
    }
    .intro-text {
        font-weight: bolder;
        margin-top:70px;
        font-size: 50px;
        position: relative;
        left: 10px;
    }
   
   
  
    .img-container>img{
       
       height: 85%;
       width: 85%;
       margin-top: 70px;
       position: relative;
       left: 40px;
       padding: 10px;
       
        
        
    } 
    .presentation{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 0.5rem;
        
    }
    
    .about-content{
        text-align: justify;
        margin-left: 0%;
        margin-right: 0%;
    }  
    .contents p{
        font-size: 2rem;
        text-align: justify;
        margin-left: 0%;
        margin-right: 0%;
    }
    .contents h1{
        margin-left: 0%;
        margin-right: 0%;
        font-size: 3.5rem;
    }
    .contents h3{
        margin-left: 0%;
        margin-right: 0%;
    }
    .contents img{
        margin-left: 0%;
        margin-right: 0%;
    }
    .info-img{
        padding:0px;
        margin-top:10px;
        margin-bottom: 10px;
        height: 40vh;
    }
    .info{
        
        margin-top: 30px;
        padding: 0px;
        font-size: 1.5rem;
    }
    
    .contact-links{
        margin: 10px;
        padding: 20px;
        font-size: 1rem;
    }
    .blog-info{
        font-size: 50px;
    }
    .blog-img{
        margin: 0px;
        padding: 0px;
        height: 30vh;
        margin-bottom: 30px;
    }
    .blog-headings{
        width: 400px;
    }
    .blog-headings .card{
        display: flex;
        flex-direction: column;
        flex: 50%;
        width: 320px;
        height: 345px;

    }
    .blog-headings .card .contentBx h2{
        font-size: 36px;
    }
    .blog-headings .card .contentBx p{
        font-size: 24px;
    }
    .image{
        padding:0px;
        height: 50vh;
        margin-top:50px;
    }
} 







/*iphone 8 plus */
/*
@media only screen 
and (min-width : 414px) 
and (max-width : 736px) 
{   .logo-container{
    width: 80%;
    }
    .intro-text {
            position:relative;
            left: 4px;
            text-align: start;
            font-size: 0.85rem;
            
        }
    
    .container-img {
        height: 1rem;
        width: 1rem;
        overflow-x: hidden;
    }    
    .about-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 0.5rem;
            
        }
    .about-content{
            text-align: justify;
            margin-left: 0%;
            margin-right: 0%;
        }  
    .contents p{
            font-size: 1.5rem;
            text-align: justify;
            margin-left: 0%;
            margin-right: 0%;  
    }    
    .contents h1{
        font-size: 2rem;
        margin-left: 0%;
        margin-right: 0%;
    }
    .contents h3{
        margin-left: 0%;
        margin-right: 0%;
    }
    .contents img{
        margin-left: 0%;
        margin-right: 0%;
    }
    .info-img{
        padding:0px;
        margin:0px;
        height: 20vh;
    }
    .info{
        margin: 0px;
        padding: 0px;
        font-size: 2rem;
    }
    .contact-links{
        margin: 0px;
        padding: 0px;
        font-size: 1rem;
    }
    .blog-img{
        margin: 0px;
        padding: 0px;
        height: 30vh;
    }
    .image{
        padding:0px;
        height: 40vh;
        margin:0px;
    }
    
}
*/
/*iphone se*/
/*
@media only screen 
and (min-width : 320px) 
and (max-width : 568px)
 {  .header {
     width: 80%;
     
    }
    
    .container-img{
        height: 30vh;
        width: 40vh;
        overflow-x: hidden;
    } 
    .nav-link {
        width:auto;
        margin-top:0;
        font-size: 1.5rem;
    }
    
    .intro-text {
       
        position:relative;
        left: 5px;
        text-align: left;
        font-size: 0.75rem;
    }
    .container-img{
       width: 100%;
       max-width: 400px;
       height: auto;
    }
    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1rem;
        
    }
    .about-content{
        text-align: justify;
        margin-left: 0%;
        margin-right: 0%;
    }
    .contents p{
        font-size: 1.5rem;
        text-align: justify;
        margin-left: 0%;
        margin-right: 0%;
    }
    .contents h1{
        font-size: 2rem;

    }
    .contents h3{
        font-size: 1rem;
        margin-left: 0%;
        margin-right: 0%;
    }
    .comtents img{
        margin-left: 0%;
        margin-right: 0%;
    }
    .info-img{
        padding:0px;
        margin:0px;
        height: 20vh;
    }
    .info{
        margin: 0px;
        padding: 0px;
        font-size: 2rem;
       
    }
    .contact-links{
        margin: 0px;
        padding: 0px;
        font-size: 1rem;
    }
    .blog-img{
        margin: 0px;
        padding: 0px;
        height: 30vh;
    }
    .image{
        padding:0px;
        height: 40vh;
        margin:0px;
    }
    
}
*/